<div class="row">
    <div class="col-md-4">
        <table class="table">
            <thead>
            <th>Resource ID</th>
            <th>Description</th>
            </thead>
            <tbody>
            <tr>
                <td>sparklr</td>
                <td>some kind of system</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>tonr</td>
                <td>some kind of printing system</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>pomppor</td>
                <td>silly kind of system</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td><input required type="text"></td>
                <td><input type="text"></td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <table class="table">
            <thead>
            <th>User ID</th>
            <th>Resources</th>
            </thead>
            <tbody>
            <tr>
                <td>jore</td>
                <td><select multiple class="form-control">
                    <option>sparklr</option>
                    <option>tonr</option>
                    <option>kumpir</option>
                </select>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>retu</td>
                <td><select multiple class="form-control">
                    <option>sparklr</option>
                    <option>tonr</option>
                    <option>kumpir</option>
                </select>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>ary</td>
                <td><select multiple class="form-control">
                    <option>sparklr</option>
                    <option>tonr</option>
                    <option>kumpir</option>
                </select>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td><input required type="text"></td>
                <td><input type="text"></td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
