<div class="row">
    <div class="col-md-4">
        <table class="table">
            <thead>
            <th>Resource ID</th>
            <th>Description</th>
            </thead>
            <tbody>
            <tr ng-repeat="resource in resources">
                <form class="form-inline">
                    <td>{{resource.id}}</td>
                    <td><input type="text" value="{{resource.description}}"></td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </form>
            </tr>
            <tr>
                <td><input required type="text"></td>
                <td><input type="text"></td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <table class="table">
            <thead>
            <th>User ID</th>
            <th>Resources</th>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td><select ng-model="user.resources"
                            ng-options="resource.id for resource in resources"
                            multiple class="form-control">
                    <option>-- select resources --</option>
                </select>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td><input required type="text"></td>
                <td><input type="text"></td>
                <td>
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
