<div class="row">
    <div class="col-md-4">
        <table class="table">
            <thead>
            <th>Resource ID</th>
            <th>Description</th>
            </thead>
            <tbody>
            <tr ng-repeat="resource in resources.all">
                <form class="form-inline" role="form">
                    <td>{{resource.id}}</td>
                    <td><input class="form-control" type="text"
                               ng-model="resource.description">
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm"
                                ng-click="resources.remove(resource._id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm"
                                ng-click="resources.update(resource._id)">
                            <span class="glyphicon glyphicon-save"></span>
                        </button>
                    </td>
                </form>
            </tr>
            <form class="form-inline" role="form" ng-submit="resources.add()">
                <tr>
                    <td><input required type="text" class="form-control"
                               ng-model="resources.newOne.id" placeholder="Name">
                    </td>
                    <td><input type="text" class="form-control"
                               ng-model="resources.newOne.description"
                               placeholder="Description">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-save"></span>
                        </button>
                    </td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <table class="table">
            <thead>
            <th>User ID</th>
            <th>Resources</th>
            </thead>
            <tbody>
            <tr ng-repeat="user in users.all">
                <form name="user_{{user.id}}" class="form-inline" role="form">
                    <td>{{user.id}}</td>
                    <td><select ng-model="user.resources"
                                ng-options="resourceName for resourceName in resourceNames"
                                multiple class="form-control">
                        <option>-- select resources --</option>
                    </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm"
                                ng-click="users.remove(user._id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm"
                                ng-click="users.update(user._id)">
                            <span class="glyphicon glyphicon-save"></span>
                        </button>
                    </td>
                </form>
            </tr>
            <tr>
                <form class="form-inline" role="form" ng-submit="users.add()">
                    <td><input required type="text" class="form-control"
                               ng-model="users.newOne.id" placeholder="User ID"></td>
                    <td><input type="text" class="form-control"
                               comma-list-string-to-array-binding
                               ng-model="users.newOne.resources"
                               placeholder="resources (comma-separated)"></td>
                    <td>
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-save"></span>
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
