<table class="table" ng-repeat="token in tokens">
    <thead>
    <tr>
        <th>Client ID</th>
        <th>Resources</th>
        <th>Client Secret</th>
        <th>Scope</th>
        <th>Authorized Grant Types</th>
    </tr>
    <tr>
        <th>Web Server Redirect URI</th>
        <th>Authorities</th>
        <th>Access Token Validity</th>
        <th>Refresh Token Validity</th>
        <th>Additional Information</th>
    </tr>
    </thead>
    <tbody>
    <form class="form-inline" role="form">
        <tr>
            <td>{{token.clientID}}</td>
            <td>
                <select ng-model="token.resources"
                        ng-options="resourceOfUser for resourceOfUser in resourcesOfUser"
                        multiple class="form-control">
                    <option>-- select resources --</option>
                </select>
            </td>
            <td>
                <input ng-model="token.clientSecret" type="password" class="form-control">
            </td>
            <td>
                <select ng-model="token.scope"
                        ng-options="scope for scope in unionOfResourceScopes" multiple
                        class="form-control">
                    <option>-- select scope --</option>
                </select>
            </td>
            <td>
                <select ng-model="token.authorizedGrantTypes"
                        ng-options="grantType for grantType in unionOfAuthorizedGrantTypes"
                        multiple class="form-control">
                    <option>-- select authorized grant types --</option>
                </select>
            </td>
            <td>
                <button type="button" ng-click="remove(token._id)" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <input type="url" ng-model="token.webServerRedirectURI" class="form-control">
            </td>
            <td>
                <input ng-model="token.authorities" comma-list-string-to-array-binding class="form-control">
            </td>
            <td>
                <input type="number" ng-model="token.accessTokenValidity" class="form-control">
            </td>
            <td>
                <input type="number" ng-model="token.refreshTokenValidity" class="form-control">
            </td>
            <td>
                <textarea ng-model="token.additionalInformation" prop-eq-val-lines-to-obj-binding
                          class="form-control" rows="3">
                </textarea>
            </td>
        </tr>
    </form>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Client ID</th>
        <th>Resources</th>
        <th>Client Secret</th>
        <th>Scope</th>
        <th>Authorized Grant Types</th>
    </tr>
    <tr>
        <th>Web Server Redirect URI</th>
        <th>Authorities</th>
        <th>Access Token Validity</th>
        <th>Refresh Token Validity</th>
        <th>Additional Information</th>
    </tr>
    </thead>
    <tbody>
    <form class="form-inline" role="form" ng-submit="add()">
        <tr>
            <td>
                <input type="text" required class="form-control"
                       ng-model="newToken.clientID" placeholder="Client ID">
            </td>
            <td>
                <select ng-model="newToken.resources" multiple
                        ng-options="resourceOfUser for resourceOfUser in resourcesOfUser"
                        class="form-control">
                    <option>-- select resource --</option>
                </select>
            </td>
            <td>
                <input ng-model="newToken.clientSecret" type="password"
                       class="form-control" placeholder="Client Secret">
            </td>
            <td>
                <select ng-model="newToken.scope" multiple class="form-control">
                    <option>read</option>
                    <option>write</option>
                    <option>delete</option>
                </select>
            </td>
            <td>
                <select ng-model="newToken.authorizedGrantTypes"
                        multiple class="form-control">
                    <option>Authorization Code</option>
                    <option>Implicit</option>
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-save"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <input type="url" class="form-control"
                       ng-model="newToken.webServerRedirectURI"
                       placeholder="Web Server Redirect URI">
            </td>
            <td>
                <input ng-model="newToken.authorities"
                       comma-list-string-to-array-binding
                       placeholder="Authorities (separated by commas)"
                       class="form-control">
            </td>
            <td>
                <input type="number" ng-model="newToken.accessTokenValidity"
                       class="form-control" placeholder="Access Token Validity">
            </td>
            <td>
                <input type="number" ng-model="newToken.refreshTokenValidity"
                       class="form-control"
                       placeholder="Refresh Token Validity">
            </td>
            <td>
                <textarea class="form-control" rows="3"
                          prop-eq-val-lines-to-obj-binding
                          ng-model="newToken.additionalInformation"
                          placeholder="Additional Information"></textarea>
            </td>
        </tr>
    </form>
    </tbody>
</table>
